.hide {
    display: none !important;
}

.searchTitle {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 20px;
    -webkit-text-stroke: .5px blue;
}

.btn {
    margin-top: 10px;
}

.row {
    margin: 5px;
}

.currentCity {
    display: flex;
    justify-content: left;
    margin-left: 0;
    border: 2px solid black;
    border-radius: 5px;
}

.cityName {
    display: flex;
    justify-content: left;
    margin-left: 0;
}

.container {
    margin: 0;
}

.cards {
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 12px;
    margin: 4px;
}

.searchHistory {
    margin-top: -8px;
}

.historyText {
    margin-top: 6px;
    margin-left: -8px;
    -webkit-text-stroke: .5px blue;
}

#historyButton {
    margin-right: 6px;
}


@media screen and (max-width: 1200px) {
    #todaysWeather {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #fiveDay {
        margin-top: 15px;
    }
}

@media screen and (max-width: 525px) {
    .dataUl {
        font-size: 14px;
    }
    #fiveDay {
        font-size: small;
    }
    .cityName {
        font-size: 20px;
    }
}